body {
	margin: 0;
 	/* background-image: url(https://lh3.googleusercontent.com/koC8wl8G4X4OpZetoHyQfJ-X5lJLv0loD5rm3gubwptqXUNEu8W9xBQHeffPgpngCJXaxI9anL444GCefUbRoQZm1A4WSq7m8l4fcHtot3EArkS6J_lBMt_S4rvg7TODC1DJholOgA=w2400); */
	 /* background-size: 1440px 800px; */
	 background-position: cover;
 	display: compact;
}
h1 {
    margin: 20px;
    font-family: 'Monoton', cursive;
    text-align: center;
    opacity: 0.7;
}
p {
	font-family: 'Share Tech Mono', monospace;

}
img {
    width: 100px;
    height: 100px;
}

span {
	color: white:
}
#howToPlay {
	padding: 40px;
	color: white;
	margin-top: 20px;
	margin-right: 50px;
	margin-left: 50px;
	margin-bottom: 70px;
    background: #9fbbd8
}